@import '@adofai-gg/ui/global.css';
@import '@bprogress/core/css';

@config '../tailwind.config.ts';

@import '@fontsource/ibm-plex-sans-kr/300.css';
@import '@fontsource/ibm-plex-sans-kr/400.css';
@import '@fontsource/ibm-plex-sans-kr/500.css';
@import '@fontsource/ibm-plex-sans-kr/600.css';
@import '@fontsource/ibm-plex-sans-kr/700.css';

@import '@fontsource/ibm-plex-sans-jp/300.css';
@import '@fontsource/ibm-plex-sans-jp/400.css';
@import '@fontsource/ibm-plex-sans-jp/500.css';
@import '@fontsource/ibm-plex-sans-jp/600.css';
@import '@fontsource/ibm-plex-sans-jp/700.css';

@theme {
	--color-hitmargin-too-early: #ed6769;
	--color-hitmargin-too-late: #ed6769;

	--color-hitmargin-early: #ffe76e;
	--color-hitmargin-late: #ffe76e;

	--color-hitmargin-early-perfect: #c8ff6e;
	--color-hitmargin-late-perfect: #c8ff6e;

	--color-hitmargin-perfect: #3bf892;

	--color-hitmargin-miss: #c983e2;
	--color-hitmargin-overload: #c983e2;
}
