@import url('@fontsource/ibm-plex-sans-kr/300.css');
@import url('@fontsource/ibm-plex-sans-kr/400.css');
@import url('@fontsource/ibm-plex-sans-kr/500.css');
@import url('@fontsource/ibm-plex-sans-kr/600.css');
@import url('@fontsource/ibm-plex-sans-kr/700.css');

.hitmargin-too-early,
.hitmargin-too-late {
	color: #ed6769;
}

.hitmargin-early,
.hitmargin-late {
	color: #ffe76e;
}

.hitmargin-early-perfect,
.hitmargin-late-perfect {
	color: #c8ff6e;
}

.hitmargin-perfect {
	color: #3bf892;
}

.hitmargin-miss,
.hitmargin-overload {
	color: #c983e2;
}
